* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    background-color: rgb(57, 79, 106);
}

h1 {
    font-size: 144px;
    font-weight: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -170px;
    margin-left: -360px;
    z-index: 1;
}

h2 {
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -188px;
    margin-left: -140px;
    z-index: 1;
}

.container {
    font-family: 'Jua', sans-serif;
    color: rgb(195, 195, 195);
}

#server {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -273px;
    margin-top: 27px;
    font-size: 40px;
    z-index: 1;
}

#warning{
    position: relative;
    text-align: right;
    font-size: 24px;
    z-index: 1;
}

#nikname {
    height: 45px;
    width: 400px;
    font-size: 30px;
    color: rgb(255,255,255);
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 27.5px;
    margin-left: -150px;
    z-index: 1;
}

#result {
    background-color: transparent;
    border: none;
    font-size: 48px;
    font-family: 'Jua', sans-serif;
}

.mainbutton {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 85px;
    margin-left: -80px;
    z-index: 1;
}

#figure1 {
    height: 60px;
    width: 126px;
    border-radius: 25px;
    background-color: rgb(0,0,0);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 20px;
    margin-left: -315px;
    z-index: -1;
}

#figure2 {
    height: 60px;
    width: 450px;
    border-radius: 25px;
    background-color: rgb(255,255,255);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 20px;
    margin-left: -175px;
    z-index: -3;
}

#figure3 {
    height: 48px;
    width: 438px;
    border-radius: 20px;
    background-color: rgb(57, 79, 106);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 26px;
    margin-left: -169px;
    z-index: -2;
}